ngl/
oss_ngl/
surf_ncep/
predict_dataset/
logs/
outputs/
da_ngl/dataset/
da_ngl/logs
da_ngl/main_code/work_dir
da_ngl/main_code/work_dir/model
da_ngl/main_code/work_dir/logs
da_ngl/main_code/work_dir/results
cfff_daily/
da_ngl/main_code/wandb/
da_ngl/nohup.out
plots/
preprocessing/__pycache__/
main_code/nohup.out
nohup.out
da_ngl/test/fuxi_ngl_ztd_comparison/
